header.beginning
{
    width: 100%;
    height: 25%;
    text-align: center;
}


nav
{
    border-top: 2px solid;
    border-bottom: 2px solid;
    width:100%;
    height: 50px;
    border-color: darkcyan;
}

#sidebar
{
    border-right: 1px solid;
    width:25%;
    height: 500px;
    float:left;
    border-color: darkcyan;
}

.foot
{
    clear: left;
    width:100%;
    border-top:1px blue solid;
    border-bottom:1px blue solid;
    height: 50px;
    border-color: darkcyan;
}

br
{
    min-height: 50px;
    display: table-cell;
    vertical-align: middle;
}

#content
{
    float: left;

}

body
{
    background-image: url("images/coolblue.jpg");
}

form
{
    color: firebrick;
}

table.darkcyan
{
    border-color: darkcyan;
}

table.red
{
    border-color: red;
}
